* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: grey;
  max-width: 1200px;
  margin: auto;
}

.header {
  text-align: center;
  font-size: 5px;
  position: relative;
}

.navbar {
  background-color: black;
  border-bottom: black;
  height: 20rem;
  width: 100%;
  display: inline;
  justify-content: space-evenly;
  list-style: none;
  font-size: 200%;
  color: grey;
  font-size: 10px;
}

#Landscape {
  width: 100%;
  height: 400px;
  position: relative;
}

.thinkin {
  height: 250px;
  width: 275px;
  position: absolute;
  bottom: 30px;
  left: 30px;
  border: 3px solid white;
}

#coolsub {
  position: absolute;
  bottom: 40px;
  right: 40px;
  background-color: grey;
  color: black;
  height: 20%;
  width: 20%;
  font-size: 400%;
  text-align: inherit;
  vertical-align: middle;
}

li {
  float: left;
  padding-right: 6%;
  padding-left: 6%;
  margin-left: 3%;
  margin-right: 3%;
  color: black;
}

li:hover {
  background-color: white;
  cursor: pointer;
  text-decoration-color: black;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: grey;
}

p {
  color: black;
}

.work,
.aboutme,
.contactme,
.resumepic {
  display: flex;
  flex-direction: row;
  padding: 30px;
}

#aboutme-p {
  padding-left: 30px;
  max-width: 50%;
}

.aboutme > h2,
.work > h2 {
  flex: 0 0 20%;
  text-align: right;
  border-right: 5px solid black;
  padding-right: 50px;
}

.work > h2 {
  width: 15%;
  border-right: 3px solid black;
  margin-left: 70px;
  text-align: right;
}

.biggerpic {
  width: 94.2%;
  height: 400px;
  flex-wrap: wrap;
  padding: 15px;
  border: 3px solid black;
}

.smallerpic {
  width: 47%;
  height: 300px;
  flex-wrap: wrap;
  padding: 15px;
  border: 3px solid black;
}
.flexbox-container {
  flex-wrap: wrap;
  min-width: 75%;
  max-width: 75%;
  padding: 30px;
}

#resize {
  width: 400px;
  height: auto;
}

.footer {
  background-color: grey;
  padding: 10px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  li {
    font-size: 16pt;
    padding-right: 1%;
    padding-left: 1%;
    margin-left: 1%;
    margin-right: 1%;
  }
  #resize {
    width: 200px;
    height: auto;
  }
}
